@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  height: 100dvh;
  width: 100%;
  position: relative;
  overflow: hidden;
  z-index: 2;
  pointer-events: none;
}

.start-screen,
.bg,
.ar-screen {
  position: absolute;
  top: 0;
  left: 0;
  height: 100dvh;
  width: 100%;
}

.start-screen {
  display: block;
  pointer-events: auto;

}

.ar-screen {
  display: none;
  background-color: transparent;
  pointer-events: auto;
}

.instructions-screen {
  display: block;
  width: 100%;
  height: 100dvh;
  position: absolute;
  left: 0;
  top: 0;
  /* background: radial-gradient(96.62% 50% at 50% 50%, #78BDFF 0%, #1375D2 100%); */
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding: 5dvh;
}

.instructions-screen .step-2 {
  display: none;
}

.instruction-prompt {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#step1Done,
#step2Done {
  visibility: hidden;
  opacity: 0;
  position: absolute;
}

.instruction-prompt img {
  width: 80vw;
  max-width: 400px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100dvh;
  width: 100%;
  background-color: blue;
  opacity: 0.6;
}

.bg {
  object-fit: cover;
}

.nav {
  position: relative;
  top: 0;
  left: 0;
  background-color: #0c5ca8;

  width: 100%;
  text-align: center;
}

.nav img {
  width: 40vw;
}

.product-desc {
  position: relative;
  z-index: 1;
  font-family: 'Roboto', sans-serif;
  margin: 0 1rem;
  color: #fff;
  height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.product-desc p:first-child {
  /* font-size: 24px; */
  font-size: 6.2vw;
  font-weight: 500;
}

.product-desc p:last-child {
  /* font-size: 48px; */
  font-size: 10vw;
  font-weight: 800;
}

.bottom-floor {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 14vh;
  background: linear-gradient(180deg, #d9d9d9 -4.91%, #ededed -4.9%, #aaaaaa 90.8%);
}

#fridge {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 2;
  height: 70dvh;
  width: 60%;
  object-fit: contain;
}

#view-btn {
  position: absolute;
  bottom: 10vh;
  left: 6vw;
  z-index: 2;
  position: absolute;
  width: 30%;
  box-shadow: 10px 10px 18px #00000082;
  pointer-events: auto;
}

#on,
#off {
  position: absolute;
  top: 20px;
  right: 20px;
}

.tap-to-place {
  position: absolute;
  bottom: 50px;
  left: 0;
  right: 0;
  margin: auto;
  width: 40%;
  pointer-events: auto;
}

#placeFridge {
  position: absolute;
  bottom: 20vh;
  left: 0;
  right: 0;
  margin: auto;
  width: 70%;
  max-height: 60vh;
  object-fit: contain;
  opacity: 0.5;
  animation: fadeInOut 2s ease-in-out infinite;
}

@keyframes fadeInOut {
  0% {
    visibility: hidden;
    opacity: 0.2;
  }

  50% {
    visibility: visible;
    opacity: 0.7;
  }

  100% {
    visibility: hidden;
    opacity: 0.2;
  }
}

.carousel-container {
  display: flex;
  align-items: center;
  position: absolute;
  visibility: hidden;
  opacity: 0;
  /* bottom: 20px; */
  bottom: 4dvh;
  left: 0;
  right: 0;
  margin: auto;
  width: 100%;
  /* Change to 100% */
  max-width: 800px;
  pointer-events: none;
}

.carousel-track-container {
  width: 100%;
  height: 100%;
  margin: 8px auto;
  position: relative;
}

.carousel-track {
  display: flex;
  transition: transform 0.3s ease-in-out;
  /* transform: translateX(33.33%); */
  transform: translateX(37.33%);
  margin: 0;
  padding: 0;
}

.carousel-slide {
  /* min-width: 33.333%;
  flex: 0 0 33.333%; */
  min-width: 25%;
  flex: 0 0 25%;
  /* height: 16vh; */
  height: 11vh;
  transition: transform 0.3s ease-in-out;
  text-align: center;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.filter {
  /* width: 10vh;
  height: 10vh; */
  width: 7vh;
  height: 7vh;
  border-radius: 50%;
  transition: transform 0.3s ease-in-out;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.carousel-slide.current-slide .filter {
  transform: scale(1.5);
  transform-origin: center center;
  outline: 6px solid #fff;
  border: 2px solid transparent;

}

.carousel-slide.current-slide p {
  display: block;
}

.carousel-slide p {
  margin: 10px 0 0;
  position: absolute;
  bottom: -3.6dvh;
  width: 100%;
  font-size: 1.5vh;
  color: #fff;
  text-shadow: 0px 4px 4px 0px #00000040;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  display: none;
}

.activeBtn {
  /* width: 16vh; */
  width: 11vh;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  height: 100%;
  border-radius: 50%;
  display: none;
  /* border: 6px solid #fff; */
  z-index: 2;
  background-image: url('./assets/images/pause.png');
  border-radius: 50%;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  visibility: hidden;
  opacity: 0;
  transition: all 300ms ease-in-out;
}

.activeBtn p {
  width: 100%;
  font-size: 2rem;
  color: #fff;
  z-index: 2;
  position: absolute;
  bottom: -3.6dvh;
  width: 100%;
  font-size: 1.5vh;
  text-shadow: 0px 4px 4px 0px #00000040;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  text-align: center;
  opacity: 0;
}







#bend {
  background-image: url('./assets/images/bend.png');
}

#led {
  background-image: url('./assets/images/led.png');
}

#twoX {
  background-image: url('./assets/images/twoX.png');
}

#ice {
  background-image: url('./assets/images/ice.png');
}

#dualfan {
  background-image: url('./assets/images/dualfan.png');
}

#modes {
  background-image: url('./assets/images/modes.png');
}

#toughglass {
  background-image: url('./assets/images/toughglass.png');
}

#toughglass {
  background-image: url('./assets/images/toughglass.png');
}

#shine {
  background-image: url('./assets/images/shine.png');
}


.top-info {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.top-info img {
  width: 70%;
  margin: 20px;
  position: absolute;
  display: none;
}

.instruction-info {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 30%;
  display: none;
  align-items: center;
  justify-content: center;
  pointer-events: none;
}

.instruction-info img {
  width: 30vw;
}