#nextbutton {
  width: 500vw;
  height: auto;
  position: absolute;
  bottom: 6vh;
  left: 205vw;
  display:block;
  background-color: #ad50ff;
  border: 0.2em solid white;
  text-align: center;
  color: #ffffff;
  border-radius: 100px;
}
#nextbutton:active {
  background-color: white;
  color: #ad50ff;
}

h2 {
  font-size: 1.3em;
  text-align: center;
  font-family: monospace;
  user-select: none;
}